.container{
    width: 600px;
    height: 98vh;
    
}
.container .header
{
    width: 100%;
    height: 8vh;
    background-color: #4885ed;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #ffffff  !important;
    font-size: 15px;
}

.container .senderBox
{
      width: 100%;
      height: 8vh;
      background-color: #ffffff;
      color: black;
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 12px;
}
.container .senderBox .leftBox
{
     width: 30%;
     display: flex;
     flex-direction:row;
     justify-content: space-between;
     float: left;
     /* justify-content: space-around; */
}
.container .senderBox .rightBox
{
     width: 22%;
     display: flex;
     flex-direction:row;
     justify-content: space-between;
     /* justify-content: space-around; */
}
.container .unreadMessage
{
     width: 100%;
     height: 7vh;
     background-color: rgb(238, 237, 237);
     display: flex;
     flex-direction:row;
     justify-content:center;
     align-items: center;
}
.container .unreadMessage p{
    margin:0px !important;
    font-size: 12px;
    color: black;
}
.container .mainContainer
{
     width: 100%;
     padding: 30px;
     height: 25vh;
     overflow-y: auto;
     border-bottom: 1px solid  rgb(238, 238, 238);
}
.container .replyMessageBox {
            width: 100%;
            height: 50vh;
            padding: 20px;
}
.container .replyMessageBox    .boxModel {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(241, 238, 238);
}
.boxModel .header
{
    background-color: rgb(238, 237, 237);
    color: black !important;
    height: 6vh;
    font-size: 12px !important;
     justify-content: left;
}
.boxModel textarea
{
    width: 100%;
    height: 30vh;
    outline: none;
    border: none;
    padding: 15px;

}
.mat-dialog-container
{
    padding: 0px !important;
}

.footer{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-top: 1px solid rgb(231, 227, 227);
    padding-top: 8px;
}
.footer img{
    float: left;
    margin-left: 5px;
    cursor: pointer;
   
}
.footer img:hover
{
    background-color: lightgrey;
    border-radius: 3px;
}
.header button
{

    outline: none;
    border: none;
    margin-top: -10px;
        /* padding: 0px !important; */
}
.cdk-overlay-pane 
{
        margin-left: 54% !important;
}