<div class="container">
    <div class="header">
            New Message
    </div>
    <div class="middleContainer">
        <div class="fromMail">
          <mat-form-field>
            <mat-label>Email ID</mat-label>
            <mat-select  [(ngModel)]="sender">
              <mat-option *ngFor="let user of userList" [value]="user.emailID">
                {{user.emailID}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="subject">
          <textarea   placeholder="Subject" [(ngModel)]="subject"></textarea>
        </div>
       
        <div class="message">
                <textarea   placeholder="Write a message...."  [(ngModel)]="message"></textarea>
        </div>
    </div>
    <div class="footer">
       <img src="../../../../assets/attach-icon.png"   height="30px">
       <img src="../../../../assets/image-icon.png"  height="30px" style="padding: 6px;" width="30px">
       <img src="../../../../assets/inser.png"  height="23px" style="margin-left: 14px;">
       <img src="../../../../assets/emojiSmilie-icon.png" height="25px" style="margin-left: 7px;">
       <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="sendMessage()">Send</button>
       <button mat-raised-button color="red" style="margin-left: 20px;" (click)="close()">Close</button>
    </div>
</div>