.container
{
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    padding: 15px;
}
.container input
{
      width: 100%;
      border: none;
      height: 6vh;
      outline: none;
      border-bottom: 1px solid  lightslategrey;
}
.container button{
    background-color: skyblue;
}